//Pipeline defaults
params {

// Target to Followup
target_name = "NGC2808"
filterbank_list = "${baseDir}/targets.txt"
beam_name = "cfbf00004"
period_start = "0.000"
period_end = "3.0"
//UTC Date Format: yyyy-mm-dd
utc_start = "2024-03-12"
utc_end = "2024-03-12"

// Singularity Images 
pulsarx_singularity_image = "/scratch/jjawor/containers/trapum_pulsarx_fold_docker_20220411.sif"
search_singularity_image = "/scratch/jjawor/containers/peasoup_master.sif"
sql_query_image = "/homes/vishnu/singularity_images/mmgps_sql_latest.sif"
utility_singularity_image = "/scratch/jjawor/containers/psrtools/" 

// Filtool Arguments
telescope = "meerkat"
filtool_rfi_filter = "zdot"
filtool_threads = 1
filtool_channel_mask = "1323:1384" 
//Do you want to use filtool to clean your observations? 1=yes, 0=no 
use_filtool = 1


// DM split arguments
dm_create_script = "${baseDir}/create_DM_subdivisions.py"
dm_start = 0
dm_end = 400
dm_step = 0.1
no_dm_splits = 16
dm_decimals = 1
dm_out_dir = "${baseDir}/DM_RANGES"

phase_predictor = "${baseDir}/create_phase_predictor_dspsr_peasoup_period_range_cands.py"

// Peasoup Arguments. Stays the same for APSUSE and PTUSE observations. Code figures out the right power of two size for FFT.
min_snr = "8.0"
acc_start = "-5.0"
acc_end = "5.0"
ram_limit_gb = "70.0"
nh = "4"
ngpus = "1"
total_cands_limit = "3000"
kill_file = "${baseDir}/killfile.txt"


// pulsarx folding
fold_script = "${baseDir}/fold_peasoup_pulsarx.py"
pulsarx_fold_template = "${baseDir}/meerkat_fold.template"
psrfold_fil_threads = 47
no_cands_to_fold = 2000
psrfold_fil_channel_mask = ""
}


process {

    withName: generateDMFiles {
        publishDir = [
            path: "${params.dm_out_dir}",
            pattern: "*.txt",
            mode: 'copy',
        ]
    }

    withName: filtool {
        publishDir = [
            path: "CLEAN/",
            pattern: "*.fil",
            mode: 'symlink',
        ]
    }


    // If one observation fails, it will only stop downstream processes, but not the other independent proccess
    errorStrategy = 'ignore'   

}


profiles {

   local {
    includeConfig 'local.config' 
 }

   condor {
    includeConfig 'condor.config'
   }

   slurm {
    includeConfig 'slurm.config'
   }
}
